<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>365257336127-790udh45sskk529pdovv8o8dfh0ch8ti.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.365257336127-790udh45sskk529pdovv8o8dfh0ch8ti</string>
	<key>API_KEY</key>
	<string>AIzaSyCovEEBSuCKf3aCRiKJz6vmqHTvNVhQwKs</string>
	<key>GCM_SENDER_ID</key>
	<string>365257336127</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kosukesaigusa.security-rules-sample</string>
	<key>PROJECT_ID</key>
	<string>security-rules-sample-7b6af</string>
	<key>STORAGE_BUCKET</key>
	<string>security-rules-sample-7b6af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:365257336127:ios:9eed255d40fdbdf0fcdf8a</string>
</dict>
</plist>